/* ==========================================================================
   Visualisation

   Default Mendix & Apollo data and image containers
========================================================================== */
.maps-placeholder {
    height: 100%;
    background-color: $Siemens-Stone-25;
    background-image: linear-gradient(to bottom, $Siemens-Stone-25, $Siemens-Stone-23);
}